{% extends "main/base.html" %}
{% load static %}
{% block body %}
<div class="image_container">
  <img class="picture rounded-full" src="{% static 'pictures/News_sign.png' %}" alt="Pic of ANHS" width="100%">
  <div class="image_text hidden">
    FLATAPS: Make learning fun and easy.
  </div>
</div>
{% for forum in forums %}
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3">
  <div class="md:flex">
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-green-500 font-semibold author">{{forum.author.username}}</div>
      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{forum.title}}</a>
      <p class="mt-2 text-gray-500">{{forum.description}}</p>
    </div>
  </div>

  <div class="px-4 py-2 bg-gray-200 flex justify-between">
    <span class="text-sm text-gray-600"><a href="{% url 'forum_comment'  forum.id %}">Message</a></span>
    <span class="text-sm text-gray-600">{{forum.uploaded_at}}</span>
  </div>
  <div>
    <form method="POST" class="px-4 py-2 bg-black flex justify-between">
      <input type="text" placeholder="asdfdsaf">
      <button type="submit">asdfsadf</button>

    </form>
  </div>
</div>

{% empty %}
<p class="m-3 text-center text-gray-500">No posts</p>
{% endfor %}



<script src="{% static 'js/flashcard.js' %}"></script>
{% endblock %}