{% extends "main/base.html" %}
{% load static %}
{% block body %}

<div class="flex bg-gray-700 justify-center">
  <div class="max-w-screen-lg ">
    <div class="bg-gray-700 text-center  text-white p-4 font-normal">
      <h1 class="text-8xl">Forum</h1>
      <p class="text-left">[fôrəm]</p>
      <p class="text-left">NOUN</p>
      <p class="text-left">forum (noun) · forums (plural noun) </p>


      <p>·a website or web page where users can post comments about a particular issue or topic and reply to other
        users'
        postings.</p>

    </div>

    <div class="flex justify-center items-center pt-5 pb-16 bg-gray-700">
      <form method="POST" id="formFurom"class="p-2 md:p-2 w-5/6 bg-gray-700 rounded-lg bottom-10 " action="{% url 'forum' %}">
        <div class="mb-6">
          {% csrf_token %}
          <label for="title" class="block mb-1 text-md font-semibold text-white">Title </label>
          <textarea id="title" maxlength="200" name="title" type="text" placeholder="Title"
            class="w-full px-1 py-1 border rounded-lg text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            required></textarea>
          <p id="countTitle" class="text-right text-sm">
          </p>
        </div>
        <div class="mb-6">
          <label for="description" class="block mb-2 text-md font-semibold text-white">Description </label>
          <textarea id="description" maxlength="400" name="description" rows="4" placeholder="(Optional)"
            class="w-full px-1 py-1  border rounded-lg text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            ></textarea>
          <p id="countDescription" class="text-right text-sm">
          </p>
        </div>
        <div class="flex justify-center">
          <input id="submit" type="submit" value="Start Forum"
            class="cursor-pointer px-6 py-2 text-lg rounded-full text-gray-700 bg-gradient-to-r from-white to-white  hover:from-blue-700 hover:to-blue-500 focus:outline-none focus:ring-4 focus:ring-blue-300">
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'js/comment.js' %}"></script>
<script src="{% static 'js/post.js' %}"></script>
{% for forum in forums %}
<div class="bg-gray-700">
  <a href="{% url 'forum_comment'  forum.id %}">
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-4">
      <div class="md:flex bg-gray-100">
        <div class="p-4 size-full  ">
          <div class="uppercase tracking-wide text-sm text-green-500 font-semibold author">{{forum.author.username}}
          </div>
          <div class="uppercase tracking-wide text-sm text-green-500 font-semibold author">
            {{forum.author.profile.grade}} {{ forum.author.profile.section }}</div>
          <div class="block mt-1 text-lg leading-tight font-medium text-black ">{{forum.title}}</div>
        </div>
      </div>

  </a>
  <div class="px-4 py-2 bg-gray-200 flex justify-between">
    <span class="text-sm text-gray-500 bg bg-gray-300 rounded-lg">
      <button class="px-2 py-0.5 text-lg font-extrabold bg-gray-300 rounded-full">&#8593;</button>
      {{forum.likes}}
      <button class="px-2  py-0.5 text-lg font-extrabold bg-gray-300 rounded-full">&#8595;</button>
    </span>
    <a href="{% url 'forum_comment'  forum.id %}" class="flex items-center"><span
        class="text-sm text-gray-500 bg-gray-300 rounded-lg flex items-center px-2"><img
          src="{% static 'pictures/comment.png' %}" class="size-7">{{forum.comment_count}}</span></a>

    <span class="time text-sm text-gray-600 flex items-center px-2">{{forum.uploaded_at}}</span>
  </div>

</div>

{% empty %}
<p class="m-3 text-center text-gray-500">No posts</p>
{% endfor %}



<script src="{% static 'js/forum.js' %}"></script>
{% endblock %}</div>