{% extends "main/base.html" %}
{% load static %}
{% block body %}
<div class="image_container">
  <img class="picture rounded-full" src="{% static 'pictures/News_sign.png' %}" alt="Pic of ANHS" width="100%">
  <div class="image_text hidden">
    FLATAPS: Make learning fun and easy.
  </div>
</div>
{% for forum in forums %}
<a href="{% url 'forum_comment'  forum.id %}">
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3">
    <div class="md:flex">
      <div class="p-8">
        <div class="uppercase tracking-wide text-sm text-green-500 font-semibold author">{{forum.author.username}}</div>
        <div class="block mt-1 text-lg leading-tight font-medium text-black ">{{forum.title}}</div>
        <p class="mt-2 text-gray-500">{{forum.description}}</p>
      </div>
    </div>
</a>
<div class="px-4 py-2 bg-gray-200 flex justify-between">
  <span class="text-sm text-gray-500 bg bg-gray-300 rounded-lg"><button
      class="px-2 py-1 text-lg font-extrabold bg-gray-300 rounded-full">&#8593;
    </button>{{forum.likes}}<button class="px-2  py-1 text-lg font-extrabold bg-gray-300 rounded-full">&#8595;
    </button></span>
  <span class="text-sm text-gray-500 bg-gray-300 rounded-lg flex items-center px-2"><img src="{% static 'pictures/comment.png' %}" class="size-7">{{forum.comments}}</span>
  <span class="text-sm text-gray-600 flex items-center px-2">{{forum.uploaded_at}}</span>
</div>
</div>

{% empty %}
<p class="m-3 text-center text-gray-500">No posts</p>
{% endfor %}



<script src="{% static 'js/flashcard.js' %}"></script>
{% endblock %}