{% extends "main/base.html" %} {% load static %} {% block body %}


{% for forum in forums%}
<div class="bg-gray-700 min-h-screen h-auto">
  <div
    class=" mx-auto  rounded-xl overflow-hidden md:max-w-2xl"
  >
    <div class="md:flex bg-gray-700">
      <div class="p-4 bg-gray-700 text-white w-full">
        <div
          class="uppercase tracking-wide text-sm font-semibold author text-green-500"
        >
          {{forum.author.user.username}}
        </div>
        <div
          class="uppercase tracking-wide text-sm font-semibold author text-green-500"
        >
          {{ forum.author.grade}} {{ forum.author.section }}
        </div>
        <a
          href="#"
          class="block mt-1 mb-5 text-lg leading-tight font-medium text-white hover:underline"
          >{{forum.title}}</a
        >
        <p class="mt-2 text-white">{{forum.description}}</p>
      </div>
    </div>

    <div class="px-4 flex justify-between rounded-b-xl">
      <span class="text-sm text-gray-700 bg bg-gray-300 rounded-lg"></span>
      <span class="text-sm text-gray-600 flex items-center text-white"
        >{{forum.uploaded_at}}</span
      >
    </div>

    <div>
      <form
        method="POST"
        class="form px-4 py-2 bg-gray-700 flex justify-between"
        action="{% url 'comment'  %}"
      >
        {% csrf_token %}
        <textarea
          required
          name="text"
          type="text"
          placeholder="Add a comment"
          class="rounded-md px-2 text-left w-2/3 h-16"
          maxlength="400"
        ></textarea>
        <input name="id" value="{{forum.id}}" hidden />

        <button
          type="submit"
          class="text-green-700 bg-white px-3 rounded-lg submitBTN"
        >
          Comment
        </button>
      </form>
    </div>

    {% for comment in forum.comments.all %}
    <div
      class="bg-gray-700 rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3"
    >
      <div class="">
        <div class="">
          <div class="flex bg-white">
            <div class="p-4">
              <div
                class="uppercase tracking-wide text-sm text-blue-500 font-semibold author"
              >
                {{comment.author.user.username}}
              </div>
              <div
                class="uppercase tracking-wide text-sm text-blue-500 font-semibold author"
              >
                {{comment.author.grade}} {{comment.author.section}}
              </div>
              <div class="mt-2 text-gray-800 size-fit">
                {{comment.text|linebreaksbr}}
              </div>
            </div>
          </div>

          <div class="px-4 py-2 bg-gray-200 text-right rounded-b-xl">
            <span class="text-sm text-gray-800">{{comment.uploaded_at}}</span>
          </div>
        </div>

        {% for reply in comment.replies.all %}
        <div class="overflow-x-auto ml-8">
          <div
            class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3"
          >
            <div class="md:flex">
              <div class="p-4">
                <div
                  class="uppercase tracking-wide text-sm text-purple-500 font-semibold author"
                >
                  {{reply.author.user.username}}
                </div>
                <div
                  class="uppercase tracking-wide text-sm text-purple-500 font-semibold author"
                >
                  {{reply.author.grade}} {{reply.author.section}}
                </div>
                <!--<p class="mt-2 text-gray-400 size-fit ">reply to: {{ reply.parent}}</p>!-->
                <div class="mt-4 text-gray-800 size-fit">
                  {{ reply.text|linebreaksbr }}
                </div>
              </div>
            </div>

            <div class="px-4 py-2 bg-gray-200 text-right">
              <span class="text-sm text-gray-800">{{reply.uploaded_at}}</span>
            </div>
          </div>
        </div>

        {% empty %} {% endfor %}

        <div>
          <form
            method="POST"
            class="form px-4 py-2 bg-gray-700 flex justify-between"
            action="{% url 'reply'  %}"
          >
            {% csrf_token %}
            <textarea
              required
              name="text"
              type="text"
              placeholder="Add a comment"
              class="w-2/3 rounded-md px-4 text-left"
              maxlength="400"
            ></textarea>
            <input name="comment_id" value="{{comment.id}}" hidden />
            <input name="fid" value="{{forum.id}}" hidden />
            <button
              type="submit"
              class="text-white bg-gray-700 px-3 rounded-lg submitBTN"
            >
              Comment
            </button>
          </form>
        </div>
      </div>

      <!--
        <div>
          <form method="POST" class="px-4 py-2 bg-green-200 flex justify-between" action="{% url 'reply'  %}">
            {% csrf_token %}
            <textarea name="text" type="text" placeholder="Add a comment" class="rounded-md px-4 text-left "></textarea>
            <input name="comment_id" value="{{reply.id}}" hidden>
            <input name="fid" value="{{forum.id}}" hidden>
            <button type="submit" class="text-green-700 bg-green-300 px-3 rounded-lg">Comment</button>
          </form>
        </div>
  !-->
    </div>

    {%empty%}
    <p class="m-3 text-center text-gray-500">No comments</p>
    {% endfor%}
  </div>

  {% endfor %}
  <script src="{% static 'js/comment.js' %}"></script>
  {% endblock %}
</div>
