{% extends "main/base.html" %}
{% load static %}
{% block body %}
<div class="image_container">
  <div> <h1 class="text-teal-700  text-5xl text-center flex justify-center">News and Announcements</h1></div>
  <div class="image_text hidden">
    FLATAPS: Make learning fun and easy.
  </div>
</div>
{{user.name}}
{% for post in posts %}
<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-3">
  <div class="md:flex">
    <div class="p-3">
      <div class="flex justify-between"><span class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{post.author.username}}
        </span>
        <span class="text-sm text-gray-600">{{post.created_at}}</span>
      </div>

      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{post.title}}</a>
      <p class="mt-2 text-gray-500 font-extrabold">{{post.description}}</p>
    </div>
  </div>
  <div class="px-4 py-2 bg-gray-200 text-right">

  </div>
</div>

{% empty %}
<p class="m-3 text-center text-gray-500">No posts</p>
{% endfor %}



<script src="{% static 'js/home.js' %}"></script>
<div id="update"></div>

{% endblock %}
