{% extends "main/base.html" %}
{% load static %}

{% block body %}

<style>
    @keyframes appear {
        0% {
            font-size: 0px;
            padding: 0;
            opacity: 0;
            height: 0;

        }


        100% {


            height: auto;
            font-size: 20px;
            padding: 1px;
            opacity: 1;
        }
    }

    .nine {
        background: rgb(255, 121, 121);
    }

    .ten {
        background: rgb(152, 200, 255);
    }

    .eleven {
        background: rgb(255, 165, 81);
    }

    .hidden {
        animation-name: appear;
        animation-duration: .1s;
        animation-fill-mode: forwards;

        display: none;
    }

    .iconlib {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .choose {
        font-size: 1.4rem;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', event => {

        document.querySelectorAll('.grade-button').forEach(button => {
            button.addEventListener('click', event => {
                const gradeId = button.getAttribute('data-grade');
                const subjectsDiv = document.getElementById(gradeId);
                if (subjectsDiv.style.display === 'block') {
                    subjectsDiv.style.display = 'none';
                } else {
                    subjectsDiv.style.display = 'block';
                    subjectsDiv.style.animationPlayState = 'running';
                    subjectsDiv.addEventListener('animationend', () => {
                        subjectsDiv.style.display = 'block';
                    });
                }

                console.log(subjectsDiv);
            });
        });
    });


</script>
<!-- Library Header -->
<div>
    <div class="iconlib flex justify-center"><img class="rounded-3xl" src="{% static 'pictures/libraryImage2.jpg' %}"
            class=" flex justify-center">
    </div>
</div>
<div class="border-spacing-x-px">
    <p class="text-green-700 text-xl text-center p-10">"A digital library place for Nationalistas"</p>
</div>

<!-- Grade Link -->
<p
    class="choose text-center text-blue-500 hover:text-blue-700 font-semibold text-lg p-4 transition duration-300 ease-in-out">
    Choose a Grade</p>
</a>

<div class="grades-container text-xl flex-wrap text-center">
    <!-- Grade 9 Button -->
    <button
        class=" grade-button nine w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
        data-grade="grade9">
        Grade 9
    </button>


    <!-- Grade 9 Subjects -->
    <div id="grade9" class="grade-subjects w-full h-48 p-4 hidden">


        <div class="sub">

            <a href="show_resource/grade9/AP">
                <p>AP</p>
            </a>
            <a href="show_resource/grade9/Consumer Chemistry">
                <p>Consumer Chemistry</p>
            </a>
            <a href="show_resource/grade9/English">
                <p>English</p>
            </a>

            <a href="show_resource/grade9/Esp">
                <p>Esp</p>
            </a>
            <a href="show_resource/grade9/Filipino">
                <p>Filipino</p>
            </a>
            <a href="show_resource/grade9/MAPEH">
                <p>MAPEH</p>
            </a><a href="show_resource/grade9/Math">
                <p>Math</p>
            </a>
            <a href="show_resource/grade9/Research">
                <p>Research</p>
            </a>
            <a href="show_resource/grade9/Science">
                <p>Science</p>
            </a>
        </div>
    </div>
    <button
        class="grade-button ten  w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
        data-grade="grade10">Grade 10</button>
    <!-- Grade 9 Subjects -->
    <div id="grade10" class="grade-subjects w-full h-48 p-4 hidden">


        <div class="sub">

            <a href="show_resource/grade10/AP">
                <p>AP</p>
            </a>
            <a href="show_resource/grade10/Advanced Chemistry">
                <p>Advanced Chemistry</p>
            </a>
            <a href="show_resource/grade10/English">
                <p>English</p>
            </a>
            <a href="show_resource/grade10/Esp">
                <p>Esp</p>
            </a>
            <a href="show_resource/grade10/Filipino">
                <p>Filipino</p>
            </a>
            <a href="show_resource/grade10/MAPEH">
                <p>MAPEH</p>
            </a><a href="show_resource/grade10/Math">
                <p>Math</p>
            </a>
            <a href="show_resource/grade10/Research">
                <p>Research</p>
            </a>
            <a href="show_resource/grade10/Science">
                <p>Science</p>
            </a>
        </div>
    </div>


    <button
        class="grade-button eleven  w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
        data-grade="grade11">Grade 11</button>

    <div id="grade11" class="grade-subjects w-full h-48 p-4 hidden">
        <div class="sub">
            <button
            class="grade-button eleven  w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
            data-grade="grade11">Grade 11</button>
            <button
        class="grade-button eleven  w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
        data-grade="grade11">ABM</button>
        <button
        class="grade-button eleven  w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
        data-grade="grade11">STEM</button>
        <button
        class="grade-button eleven  w-full h-48 p-4 bg-gradient-to-r from-blue-500 to-blue-700 text-white font-bold text-4xl rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out transform"
        data-grade="grade11">Grade 11</button>
            
        </div>
    </div>
</div>



</div>
</div>




<div> Upload</div>

<form method="post" action="{% url 'upload_view' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="file">File</label>
    <input name="file" type="file" required placeholder="Place file">
    <input name="name" type="text" required placeholder="Name your file">
    <label for="grade">grade</label>

    <select name="grade" required>
        <option>grade9</option>
        <option>grade10</option>
        <option>grade11</option>
    </select>

    <label for="subject">Sub</label>

    <select name="subject" required>
        <option>Science</option>
        <option>Esp</option>
        <option>MAPEH</option>
        <option>Research</option>
        <option>Consumer Chemistry</option>
        <option>Filipino</option>
        <option>English</option>
        <option>Math</option>
    </select>
    <input type="submit" value="Upload File">
</form>

{% endblock %}