{% extends "main/base.html" %}
{% load static %}

{% block body %}
<h1 class="block bg-white-300">Library</h1>
<a>Grade</a>
<style>
    @keyframes sub {
        0% {
            size: 0;
            opacity: 0;
        }

        100% {
            size: 100%;
            opacity: 1;
        }
    }

    .nine {
        background: rgb(255, 121, 121);
    }

    .ten {
        background: rgb(152, 200, 255);
    }

    .eleven {
        background: rgb(255, 165, 81);
    }

    .hidden {
        display: none;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', event => {

        document.querySelectorAll('.grade-button').forEach(button => {
            button.addEventListener('click', event => {
                const gradeId = button.getAttribute('data-grade');
                const subjectsDiv = document.getElementById(gradeId)
            })
        });
    });


</script>
<div class="grades-container text-xl flex-wrap text-center">
    <!-- Grade 9 Button -->
    <button class="grade-button" data-grade="grade9">Grade 9</button>
    <a href="{% url 'show_resource' grade='grade9' subject='Research' %}">Grade 1 Math Resources</a>
    <!-- Grade 9 Subjects -->
    <div id="grade9" class="grade-subjects w-full h-48 p-4 hidden">
        
        <div class="sub">

            <p>Esp</p>
            <p>MAPEH</p>
            <p>Research</p>
            <p>Consumer Chemistry</p>
            <p>Filipino</p>
            <p>English</p>
            <p>AP</p>
            <p>Math</p>
        </div>
    </div>

    <!-- Repeat for other grades as needed -->
</div>



<div class="ten w-full h-48 p-4">
    <p>Grade 10</p>
</div>
<div class="eleven w-full h-48 p-4">
    <p>Grade 11</p>
</div>
</div>




<div> Upload</div>

<form method="post" action="{% url 'upload_view' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="file">File</label>
    <input name="file" type="file" placeholder="Place file">
    <input name="name" type="text" required placeholder="Name your file">
    <label for="grade">grade</label>

    <select name="grade" >
        <option>grade9</option>
        <option>grade10</option>
        <option>grade11</option>
    </select>

    <label for="subject">Sub</label>

    <select name="subject">
        <option>Esp</option>
        <option>MAPEH</option>
        <option>Research</option>
        <option>Consumer Chemistry</option>
        <option>Filipino</option>
        <option>English</option>
        <option>Math</option>
    </select>
    <input type="submit" value="Upload File">
</form>

{% endblock %}