{% extends "main/base.html" %} {%load static%} {% block body %}

<h1 class="flex justify-center">Logs:</h1>

<div class="flex justify-evenly">
  <div>
    <p class="text-center">forums:</p>
    <div id="logs" class="h-auto w-7/8 min-h-36   mx-auto w-full max-w-4xl">No forum</div>
  </div>

  

  <div>
    <p class="text-center">comments:</p>
    <div id="commentLogs" class="h-auto w-7/8 min-h-36   mx-auto w-full max-w-4xl"></div>
  </div>

</div>
<script type="module" src="{% static 'js/commentLogs.js' %}"></script>
<script type="module" src="{% static 'js/logs.js' %}"></script>

{% endblock%}