{% extends "main/base.html" %}
{% load static %}

{% block body %}

{% for resource in resources %}

<table>
    <tr>
        <th>
            author
        </th>
        <th>
            file
        </th>
        <th>
            uploaded at
        </th>
    </tr>

    <tr>
        <td>
            {{resource.author}}
        </td>
        <td>
            
                <a href="{% url 'download' uuid=resource.uuid %}">{{ resource.file }}</a>
            
            
        </td>
        <td>
            {{resource.uploaded_at}}
        </td>

    </tr>
</table>


{% empty %}
<p class="m-3 text-center text-gray-500">No posts</p>

{%endfor%}


{% endblock %}