{% extends "main/base.html" %} {% load static %} {% block body %}
<div class="bg-violet-300">
  <div class="text-center p-5">
    <p>Resources for {{grade}} {{subject}}</p>
  </div>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-3 py-2 font-medium text-gray-900">
          By
        </th>
        <th class="whitespace-nowrap px-3 py-2 font-medium text-gray-900">
          Name
        </th>
        <th class="whitespace-nowrap px-3 py-2 font-medium text-gray-900">
          Description
        </th>
        <th class="whitespace-nowrap px-3 py-2 font-medium text-gray-900">
          Uploaded
        </th>

        <th class="px-3 py-2"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      {% for resource in resources %}
      <tr>
        <td class="whitespace-nowrap px-3 py-2 text-gray-700">
          {{resource.author}}
        </td>
        <td class="whitespace-nowrap px-3 py-2 text-gray-700">
          {{ resource.name }}
        </td>
        <td class="whitespace-nowrap px-3 py-2 text-gray-700">
          {{ resource.description}}
        </td>
        <td class="whitespace-nowrap px-3 py-2 text-gray-700">
          {{resource.uploaded_at}}
        </td>
        <td class="whitespace-nowrap px-3 py-2">
          <a
            href="{% url 'download' uuid=resource.uuid %}"
            class="inline-block rounded bg-indigo-600 px-3 py-2 text-xs font-medium text-white hover:bg-indigo-700"
          >
            download
          </a>
        </td>
      </tr>
      {% empty %}
      <div class="flex align-middle min-h-screen">
        <p class="m-3 text-center align-text-bottom text-sky-500">
          No resources yet. You can be the first one to upload in this
          directory!
        </p>
      </div>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}
