{% extends "registration/base.html" %}{% load static %} {% block body %}

<body>
    

    <div class=" h-1/2-screen flex items-center justify-center bg-gray-100 ">
        <div class="bg-white p-2 rounded-lg   mx-auto w-full max-w-4xl">
            <img class="w-full  rounded-xl" src="{% static 'pictures/login_page.png' %}" alt="Pic of ANHS">

            <div class="text-center">
                <form action="{% url 'login_view' %}" method="post">
                    {% csrf_token %}
                    <input autofocus type="text" name="username" placeholder="Username"
                        class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <input autofocus type="password" name="password" placeholder="Password"
                        class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <button type="submit"
                        class="w-full py-2 mb-4 text-white bg-green-600 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
                        Log in
                    </button>
                </form>
                {% if message %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <div><strong class="font-bold">{{message}}</strong></div>
                    <div><strong class="">Invalid username or password</strong></div>
                    
                    
                </div>
                {% endif %}
                <p class="text-sm text-gray-600">
                    Don't have an account?
                    <a href="/sign_up" class="text-green-600 hover:text-green-800 hover:underline">
                        Sign up here
                    </a>
                </p>
            </div>
        </div>
    </div>



</body>
{% endblock%}

