{% extends "registration/base.html" %}{% load static %} {% block body %}
  <body>
   

    <div class="h-1/2-screen flex items-center justify-center bg-gray-100">
      <div class="bg-white p-2 rounded-lg mx-auto w-full max-w-4xl">
        <img
          class="w-full mb-4"
          src="{% static 'pictures/login_page.png' %}"
          alt="Pic of ANHS"
        />
        <div class="text-center">
          <form action="{% url 'sign_up' %}" method="post">
            {% csrf_token %}
            <input
            required
              autofocus
              type="text"
              name="username"
              placeholder="Username"
              class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <input
            required
              type="password"
              name="password1"
              placeholder="Password"
              class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <input
            required
              type="password"
              name="password2"
              placeholder="Confirm Password"
              class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <input
            required
              type="email"
              name="email"
              placeholder="Email"
              class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
            <select
            required
              name="grade"
              class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <option value="" selected disabled>Select a Grade</option>
              <option value="7">Grade 7</option>
              <option value="8">Grade 8</option>
              <option value="9">Grade 9</option>
              <option value="10">Grade 10</option>
              <option value="11">Grade 11</option>
              <option value="12 ">Grade 12</option>
            </select>
            <select
            required
              name="section"
              class="w-full px-4 py-2 mb-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            >
              <option value="" selected disabled>Section</option>
              <option>Andromeda</option>
              <option>Bernoulli</option>
              <option>Gaia</option>
              <option>Gates</option>
              <option>Jobs</option>
              <option>Manucci</option>
              <option>Milkyway</option>
              <option>Morgan</option>
              <option>Pasteur</option>
              <option>Phoenix</option>
              <option>Selene</option>
              <option>Tesla</option>
              <option>Theia</option>
              <option>Vikings</option>
              <option>Fleming</option>
            </select>

            {% if form.password2.errors %}
            <ul class="list-disc list-inside text-red-500 text-left mb-4">
              {% for error in form.password2.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}

            <button
              type="submit"
              class="w-full py-2 mb-4 text-white bg-green-600 rounded-lg hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
            >
              Sign up
            </button>
          </form>

          <p class="text-sm text-gray-600">
            Already have an account?
            <a
              href="/login"
              class="text-green-600 hover:text-green-800 hover:underline"
            >
              <strong>Log in here</strong>
            </a>
          </p>
        </div>
      </div>
    </div>
  </body>
  {% endblock%}